[submodule "lectures/devise-demo"]
	path = lectures/devise-demo
	url = git@github.com:trouni/devise-demo-858.git
	branch = main
[submodule "lectures/restaurants-with-pundit"]
	path = lectures/restaurants-with-pundit
	url = git@github.com:trouni/restaurants-with-pundit-858.git
	branch = main
[submodule "lectures/geocoding"]
	path = lectures/geocoding
	url = git@github.com:trouni/geocoding-858.git
	branch = main
[submodule "lectures/imdb-search"]
	path = lectures/imdb-search
	url = git@github.com:trouni/imdb-search-858.git
	branch = main
