<h1>My favourite restaurants</h1>
<form action="/restaurants" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="name">
  <label for="city">City</label>
  <input id="city" type="text" name="city">
  <input type="submit">
</form>
<h3>Interstellar restaurants list</h3>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <a href="/restaurants/<%= restaurant.id %>"><%= restaurant.name %></a>
    </li>
  <% end %>
</ul>
